@charset"UTF-8";

main {
    padding:20px;
    background-color: rgba(128, 128, 128, 0.658);
    background: linear-gradient(to top, rgb(4, 4, 34), rgb(1, 1, 8));
}

  article.art {
    border: 2px dashed blue;
  }

  article#art1 {
    display: flex;
    flex-flow: row-reverse wrap-reverse;  
  }

article#art1 > div {
  display: flex;
  justify-content: space-between;

}
main p {
  font-weight: bold;
  font-size: 2em;
  padding: 10px;
  margin: 10px;
  line-height: 1em;
  color: rgba(255, 255, 255, 0.904);
}

span {
  color: yellow;
}

img {
  display: flex;
  padding: 10px;
  box-shadow: 1px 1px 10px 1px yellow;
  margin: auto;
}

